---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={title} description={description} image={image} />
		<!-- AOS CSS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<!-- Swiper CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />

		<!-- AOS JS -->
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
			AOS.init({
				duration: 800,
				once: true,
				offset: 100,
			});
		</script>
	</body>
</html>
